- max_top = 3

.row#resources-section.section
  .col-sm-12
    %table.table
      = render "notifications"
      = render "running_experiments"
      = render "experiments"
      = render "projects"
      = render "libraries"

    -# %ul
    -#   %li
    -#     You have access to #{pluralize(@resources.accessible_experiments_count, 'experiment')} total,
    -#     across #{pluralize(@resources.member_of_projects_count, 'project')} that you are a member of.
    -#   %li
    -#     There are 0 of these experiments currently running:
    -#     -#  list of experiment names each a link

    -#   - ids = @resources.owned_project_ids
    -#   - own_project_count = ids.count
    -#   %li
    -#     You are the project leader for #{own_project_count == 1 ? 'project' : 'projects'} &hellip;
    -#     - unless ids.blank?
    -#       %ul
    -#         - ids.each do |pid|
    -#           %li= link_to pid, project_path(pid)

    -#   - ids = @resources.joined_project_ids
    -#   - joined_project_count = ids.count
    -#   %li
    -#     You are a member of #{joined_project_count == 1 ? 'project' : 'projects'} &hellip;
    -#     - unless ids.blank?
    -#       %ul
    -#         - ids.each do |pid|
    -#           %li= link_to pid, project_path(pid)

    -#   - ex = @resources.accessible_library_experiments
    -#   - libs = @resources.libraries
    -#   %li
    -#     You have read access to #{pluralize(ex.count, 'experiment')} via libraries &hellip;
    -#     - unless libs.blank?
    -#       %ul
    -#         - libs.each do |l|
    -#           %li= link_to l.id, library_path(l.id)

    -# %p= t '.resources.after'
