- max_top = 3

.row#resources-section.section
  .col-sm-12
    %table.table
      %p= t '.resources.before'
      = render "notifications"
      = render "running_experiments"
      = render "experiments"
      = render "projects"
      = render "libraries"
