= link_to icon_tag('plus'), :new_experiment
- managed_experiments = SummaryLoader.user_managed_experiments(current_user_id)
- if managed_experiments.any?
  .settings
    = link_to "#", class: 'dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button' do
      = icon_tag("settings")
    %ul.dropdown-menu.dropdown-menu-right
      - managed_experiments.each do |e|
        %li= link_to e[:id], manage_experiment_path(e[:id])
= link_to icon_tag('help'), '#help'
