= link_to icon_tag('share', path_options: { transform: "scale(-1,1) translate(-24,0)" }), :new_project_join
= link_to icon_tag('plus'), :new_library
= link_to icon_tag('storage'), '#join-project-approve'
- managed_projects = Rails.env.test? ? [] : deter_lab.get_managed_projects.reject(&:admin?)
- if managed_projects.any?
  .settings
    = link_to "#", class: 'dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button' do
      = icon_tag("settings")
    %ul.dropdown-menu.dropdown-menu-right
      - managed_projects.each do |p|
        %li= link_to p[:project_id], manage_project_path(p[:project_id])
