- @submenu = :project_requests
- @section = :projects
- @section_title = raw t '.title'

.page-header
  = raw t '.info'

%table.table
  %tr
    %th Id:
    %td= @req.id
  %tr
    %th Type:
    %td= @req.type
  %tr
    %th Challenge:
    %td= @req.challenge
  %tr
    %th Processed:
    %td= JoinRequestsManager.processed?(@req.id) ? 'Yes' : 'No'
