- projects = projects_table
%table.table.projects.table-striped
  - if projects.blank?
    %tr
      %td= t '.nothing'
  - else
    - projects.each do |p|
      - pid = p[:project_id]
      %tr
        %td
          %h4= link_to pid, project_path(pid)
          %p
            <strong>Project Leader</strong>: #{link_to p[:leader][:name], profile_path(p[:leader][:uid])} (#{p[:leader][:uid]})<br/>
            <strong>Project Members</strong>: #{p[:members]}<br/>
            <strong>Experiments</strong>: #{p[:experiments]}<br/>

