- @submenu = :my_projects
- @section = :projects
- @section_title = raw t '.title'
- @section_root  = true

.page-header
  = raw t '.info'

.row
  .col-sm-12
    = render partial: 'projects_table', object: @approved

    - if @unapproved_new.any?
      %h3= t ".unapproved_projects.title"
      %p= raw t ".unapproved_projects.info"
      = render partial: 'projects_table', object: @unapproved_new

    - if @unapproved_joins.any?
      %h3= t ".unapproved_joins.title"
      %p= raw t ".unapproved_joins.info"
      %table.table.table-striped
        %thead
          %tr
            %th Project
        %tbody
          - @unapproved_joins.each do |pid|
            %tr
              %td #{pid}

