- @profile_errors  ||= {}
- uid                = @app_session.current_user_id
- pid                = @experiment.id.split(':').first
- is_owner           = @experiment.owner == uid
- collapse_class     = 'in'
- action_class       = 'btn-success'
- belongs_to_project = @experiment.belongs_to_project?
- @submenu           = :my_experiments
- @section           = :experiments
- @section_title     = raw t '.title', id: @experiment.id
- @subsection        = :manage

.page-header
  = raw t '.info', owner: @experiment.owner

.row
  .col-sm-12

    .row.section-row
      .col-sm-12.f.actions
        %h4= t "experiments.show.experiment_profile"
        = show_hide_link '#profile-section', true
    .row#profile-section.section
      .col-sm-12
        = form_tag profile_update_experiment_path(@experiment.id), method: 'put', class: 'form-horizontal' do
          .row
            .col-sm-12
              %table.table.table-bordered
                - @profile_description.each do |pd|
                  - error = @profile_errors[pd.name]
                  %tr{ class: error.nil? ? nil : "has-error" }
                    %td.col-sm-3= label_tag "profile[#{pd.name}]", pd.description
                    %td.col-sm-9
                      - if pd.access == "READ_WRITE"
                        = text_field_tag "profile[#{pd.name}]", @profile[pd.name].value, class: 'form-control'
                      - else
                        = @profile[pd.name].value
                      - if error.present?
                        .helpBlock= error

          .row
            .col-sm-12
              %p= submit_tag t('.profile.save'), class: 'btn btn-default'

    - acl = ExperimentAclPresenter.new(@experiment.acl, @experiment.owner, pid)
    .row.section-row
      .col-sm-12.f.actions
        %h4= t "experiments.show.access_control"
        = show_hide_link '#acl-section', true
    .row#acl-section.section
      .col-sm-12
        = form_for @new_member, as: :member, url: add_member_experiment_path(@experiment.id), html: { class: 'form-horizontal' } do |f|
          %table.table.table-bordered
            - unless acl.owner_perms.blank?
              %tr
                %td.col-sm-3 User:&nbsp;#{deter_lab.get_profile(@experiment.owner)['name']}
                %td.col-sm-8= acl.owner_perms.join(", ")
                %td.col-sm-1 &nbsp;
            - acl.other_users_acl.each do |acl|
              - user_id = acl[0]
              %tr
                %td.col-sm-3 User:&nbsp;#{deter_lab.get_profile(user_id)['name']}
                %td.col-sm-8= acl[1].join(", ")
                %td.col-sm-1.text-center
                  = link_to t(".delete"), delete_member_experiment_path(@experiment.id, circle_id: user_id), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' }
            %tr
              %td.col-sm-3= f.text_field :circle_id, class: "form-control", placeholder: t(".add_user.hint")
              %td
              %td.col-sm-1.text-center{ style: 'vertical-align: middle' }= f.submit t(".add_user.submit"), class: "btn btn-default btn-xs"


        = form_for @new_member, as: :member, url: add_member_experiment_path(@experiment.id), html: { class: 'form-horizontal' } do |f|
          %table.table.table-bordered
            - unless acl.project_perms.blank?
              %tr
                %td.col-sm-3 Group:&nbsp;#{pid}
                %td.col-sm-8= acl.project_perms.join(", ")
                %td.col-sm-1.text-center
                  = link_to t(".delete"), delete_member_experiment_path(@experiment.id, circle_id: acl.project_cid), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' }
            - acl.groups_acl.each do |acl|
              %tr
                %td.col-sm-3 Group:&nbsp;#{acl.circle_id.split(':').first}
                %td.col-sm-8= acl.permissions.join(", ")
                %td.col-sm-1.text-center
                  = link_to t(".delete"), delete_member_experiment_path(@experiment.id, acl.circle_id), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' }
            %tr
              %td.col-sm-3= f.text_field :circle_id, class: "form-control", placeholder: t(".add_group.hint")
              %td
              %td.col-sm-1.text-center{ style: 'vertical-align: middle' }= f.submit t(".add_group.submit"), class: "btn btn-default btn-xs"

