- uid                = @app_session.current_user_id
- pid                = @experiment.id.split(':').first
- is_owner           = @experiment.owner == uid
- collapse_class     = 'in'
- action_class       = 'btn-success'
- belongs_to_project = @experiment.belongs_to_project?
- @submenu           = :my_experiments
- @section           = :experiments
- @section_title     = raw t '.title', id: @experiment.id

.page-header
  = raw t '.info', owner: @experiment.owner

.row
  .col-sm-12

    .row.section-row
      .col-sm-12.f.actions
        %h4= t "experiments.show.experiment_profile"
        = show_hide_link '#profile-section', true
    .row#profile-section.section
      .col-sm-12
        - if is_owner
          %p.text-right= link_to t('experiments.show.edit'), edit_experiment_profile_path(@experiment.id), class: "btn btn-xs #{action_class}"
        %table.table.table-bordered
          - @profile.each do |f|
            - k = f.name
            - next unless Project::PROFILE_FIELDS.include?(k)
            - v = f.value
            %tr
              %td.col-sm-4= k.capitalize
              %td.col-sm-8= v

    - acl = ExperimentAclPresenter.new(@experiment.acl, @experiment.owner, pid)
    .row.section-row
      .col-sm-12.f.actions
        %h4= t "experiments.show.access_control"
        = show_hide_link '#acl-section', true
    .row#acl-section.section
      .col-sm-12
        - if @experiment.can_modify_experiment_access?
          %p.text-right= link_to t('experiments.show.edit'), experiment_members_path(@experiment.id), class: "btn btn-xs #{action_class}"
        %table.table.table-bordered
          - unless acl.owner_perms.blank?
            %tr
              %td.col-sm-4 User:&nbsp;#{deter_lab.get_profile(@experiment.owner)['name']}
              %td.col-sm-8= acl.owner_perms.join(", ")
          - acl.other_users_acl.each do |acl|
            %tr
              %td.col-sm-4 User:&nbsp;#{deter_lab.get_profile(acl[0])['name']}
              %td.col-sm-8= acl[1].join(", ")


        - unless acl.project_perms.blank? and acl.groups_acl.blank?
          %table.table.table-bordered
            - unless acl.project_perms.blank?
              %tr
                %td.col-sm-4 Group:&nbsp;#{pid}
                %td.col-sm-8= acl.project_perms.join(", ")
            - acl.groups_acl.each do |acl|
              %tr
                %td.col-sm-4 Group:&nbsp;#{acl.circle_id}
                %td.col-sm-8= acl.permissions.join(", ")

