- @submenu = :my_experiments
- @section = :experiments
- @section_title = raw t '.title', id: @experiment.id

.page-header
  = raw t '.info', owner: @experiment.owner

= react_component 'Status'

- @visualizations.each do |v|
  .row.section-row
    .col-sm-12.f.actions
      %h4= t '.visualization', name: v.name
      = show_hide_link "#vis-#{v.name}", true

  .row{ id: "vis-#{v.name}" }
    .col-sm-12
      .visualization
        %iframe{ src: v.data, class: 'vis col-sm-12' }

= react_component 'Resources'
