- @submenu = :my_experiments
- @section = :experiments
- @section_title = raw t '.title', id: @experiment.id

.page-header
  = raw t '.info', owner: @experiment.owner

= react_component 'Realization'

.row.section-row
  .col-sm-12
    %h4= t '.visualization'

.row
  .col-sm-12
    - if @visualizations.blank?
      %p= t '.no_visualizations'
    - else
      - @visualizations.each do |v|
        .visualization
          %h5= v.name
          %iframe{ src: v.data, class: 'vis col-sm-12' }

