- @submenu = :my_experiments
- @section = :experiments
- @section_title = raw t '.title', id: @experiment.id

- content_for :home do
  .menu
    = icon_link_to section_icon(@section), "#", class: 'home-icon dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button'
    %ul.dropdown-menu
      %li= link_to "#{icon_tag(section_icon(@section))}#{t("submenu.experiments")}".html_safe, :experiments
      %li.no-icon= link_to @experiment.id, experiment_path(@experiment.id)

- content_for :actions do
  = icon_link_to 'help', '#help'

.page-header
  = raw t '.info', owner: @experiment.owner

= react_component 'Status'

- @visualizations.each do |v|
  .row.section-row
    .col-sm-12.f.actions
      %h4= t '.visualization', name: v.name
      = show_hide_link "#vis-#{v.name}", true

  .row{ id: "vis-#{v.name}" }
    .col-sm-12
      .visualization
        %iframe{ src: v.data, class: 'vis col-sm-12' }

= react_component 'Resources'
