.row
  .col-sm-8
    %h1 SPI Log
  .col-sm-4.text-right
    %br
    - if params[:action] == 'index'
      = link_to "Show All", :full_spi_log, class: 'btn btn-default'
    - else
      = link_to "Show Last 10", :spi_log, class: 'btn btn-default'

    = link_to "Clear All", :spi_log, method: 'delete', data: { confirm: 'Sure to clear whole log?' }, class: 'btn btn-danger'

- if @records.blank?
  %p No records yet
- else
  .row
    %table.table.table-striped
      - @records.each do |json|
        - r = JSON.parse(json)
        %tr
          %td.col-sm-2= Time.at(r["time"]).strftime("%B %d %Y %l:%m%P")
          %td.col-sm-2= r["type"]
          %td.col-sm-8
            %pre= format_log_xml r["xml"]
